<form [formGroup]="myForm" (ngSubmit)="submit()">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">EmployeeName</th>
                <th scope="col">EmployeeEmail</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td><input type="text" [(ngModel)] ="employee_name" formControlName="employee_name">Enter Name:-
                    {{employee_name}}
                <span *ngIf ="myForm.get('employee_name').invalid && myForm.get('employee_name').touched">
                        Employee Name is required..                     
                </span>

                </td>
                <td><input type="text" [(ngModel)] ="employee_email" formControlName="employee_email">Enter Email:-
                    {{employee_email}}
             
                </td>
                <td><input type="password" formControlName="employee_password">Enter password:-
                    
                </td>
                <td><input type="text" formControlName="employee_salary">Enter password:-
                    
                </td>
           
            </tr>
            <tr>
                <td><button class="btn btn-danger" type="submit">SUBMIT</button></td>
            </tr>

        </tbody>


    </table>
</form>

<br>
<br>
