<button type="button" (click)="addEmployee()">ADD EMPLOYEE</button>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<p-table [value]="employee">

    <ng-template pTemplate="header">
        <tr>
            <th>eId</th>
            <th>eName</th>
            <th>eEmail</th>
            <th>ACTION</th>

        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-employee>
        <tr>
            <td>{{employee.eId}}</td>
            <td>{{employee.eName}}</td>
            <td>{{employee.eEmail}}</td>
            <td><button type="button" class="btn btn-danger" (click)="delete(employee.eId)">DELETE</button></td>
            
        </tr>
    </ng-template>
</p-table>